#caixa {
    width: 300px;
    height: 400px;
    padding: 8px;
    margin: 20px;
    position: relative;
    background: rgb(85, 160, 85);
    box-shadow: 15px 15px 5px rgba(0,0,0,0.8);
    animation-name: animacao_caixa;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    /*Exemplo em uma única linha:
    animation: animacao_caixa 5s 2s 2 alternate;*/
}
#caixa h1 {
    color: white;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}
@keyframes animacao_caixa {
    from {
        background: rgb(85, 160, 85);
        border-radius: 0px;
        top: 0;
        left: 0;
    }
    to {
        background: rgb(160, 85, 90);
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}